.paginationData {
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: row;
	font-family: $lato;
	font-size: $smid;
	padding: 15px;
	width: 100%;
	background: $darkGray;
	margin-top: 139px;
	// margin-bottom: 150px;
	color: $offWhite;
	align-items: center;
	justify-content: space-between;

	input {
		margin-left: $mb;
		width: 75px;
	}

	label {
		font-family: $lato;
	}
}
