.searchPaginationData {
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: row;
	font-family: $lato;
	font-size: $smid;
	padding: 10px;
	width: 100%;
	background: #2953a0;
	// margin-top: 139px;
	// margin-bottom: 150px;
	color: $offWhite;
	align-items: center;
	justify-content: space-around;
	border-top: medium solid $coolRed;
	// border-bottom: solid $coolRed;
	.searchPaginationText {
		font-family: $lato;
		font-weight: 700;
		// padding: $mb;
		// margin: 0 $mb;
	}
	input {
		margin-left: $mb;
		width: 75px;
	}

	label {
		font-family: $lato;
	}

	@include respond-to(mobile) {
		font-size: $mb - 0.75;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 233px;
		.searchPaginationText {
			font-family: $lato;
			font-weight: 700;
			// padding: $mb;
			margin: 4px;
		}
	}

	@include respond-to(tablet) {
		font-size: $mb - 0.55;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-top: 237px;
		.searchPaginationText {
			font-family: $lato;
			font-weight: 700;
			// padding: $mb;
			margin: 0 $mb;
		}
	}

	@include respond-to(desktop) {
		font-size: $sm;
		flex-direction: row;
		justify-content: space-evenly;
		margin-top: 139px;
		.searchPaginationText {
			font-family: $lato;
			font-weight: 700;
			// padding: $mb;
			margin: $mb $mb;
		}
	}

	@include respond-to(wide) {
		font-size: $sm;
		flex-direction: row;
		margin-top: 143px;
		.searchPaginationText {
			font-family: $lato;
			font-weight: 700;
			// padding: $mb;
			margin: $mb $mb;
		}
	}
}
