.sliderContainer {
	width: 50%;
	padding: 5px;
	justify-content: space-evenly;
	margin: auto;
	// font-size: $mb;
	.control-dots,
	.thumbs,
	.animated {
		padding: 0;
	}

	li.thumb.selected {
		border: 3px solid $coolRed;
	}

	.memberName {
		// margin: 2rem;
		font-family: $montserrat;
		font-size: $sm;

		p.memberPop {
			// margin: 1rem;
			font-family: $expletus;
			color: $coolRed;
		}
	}

	@include respond-to(mobile) {
		.memberName {
			font-size: $mb - 0.2rem;
			margin: 0.5rem;
		}
	}

	@include respond-to(tablet) {
		.memberName {
			font-size: $sm;
			margin: 1rem;
		}
	}

	@include respond-to(desktop) {
		.memberName {
			font-size: $sm;
			margin: 1.5rem;
		}
	}

	@include respond-to(wide) {
		.memberName {
			font-size: $sm;
			margin: 2rem;
		}
	}
}
