.detailContainer {
	display: flex;
	// width: 60%;
	width: 35%;
	margin: auto;
	padding: 1rem;
	// flex-direction: column;
	// align-content: center;
	align-content: space-between;
	// flex-direction: wrap-reverse;
	flex-wrap: wrap;
	font-family: $lato;
	color: white;
	.detailTitle {
		font-size: $smid;
		text-align: justify;
		margin-left: 1.75rem;
		width: 55%;
		p {
			font-size: $sm;
			font-family: $montserrat;
		}
	}

	@include respond-to(mobile) {
		// width: 10rem;
		// margin: auto;
		width: 45%;
	}

	@include respond-to(tablet) {
		// width: 14rem;
		// margin: auto;
		width: 50%;
	}

	@include respond-to(desktop) {
		// width: 18rem;
		// margin: auto;
		width: 40%;
	}

	@include respond-to(wide) {
		// width: 22rem;
		// margin: auto;
		width: 50%;
	}
}
