/* Clean grayish theme */
$midGray: #585859;
$offWhite: #d9d9d9;
$lightGray: #8c8c8c;
$darkGray: #262626;
$solidBlack: #0d0d0d;

/* gradients */

/* Brights  */
$red: #fe5e5d;
$darkblue: #4c4cff;
$green: #01b288;
$lightblue: #00b3fe;
$yellow: #fcc64d;
$Zima-Blue: #5bc2e7;
