// Color import
@import './colors';
// Font import
@import './fonts';
// Breakpoints
$breakpoints: (
	mobile: (
		min-width: 320px
	),
	mobileLandscape: (
		(
				min-width: 568px
			)
			and
			(
				max-width: 812px
			)
	),
	tablet: (
		min-width: 740px
	),
	desktop: (
		min-width: 980px
	),
	wide: (
		min-width: 1300px
	)
);

@mixin respond-to($name) {
	@if map-has-key($breakpoints, $name) {
		@media #{inspect(map-get($breakpoints, $name))} {
			@content;
		}
	} @else {
		@warn "No value could be found for `#{$breakpoint}`."
    + "Be sure to define it in the breakpoints map.";
	}
}
