.backToGenre {
	align-self: center;

	background-color: transparent;
	// background: $coolRed;
	// color: $offWhite;
	font-family: $lato;
	// border-color: $coolRed;
	border-style: none;
	// border-radius: 0.65rem;
	margin: 0;
	width: 3rem;
	cursor: pointer;

	@include respond-to(mobile) {
		height: 17px;
		font-size: 2px;
	}

	@include respond-to(mobileLandscape) {
		height: 20px;
		font-size: 10px;
	}

	@include respond-to(tablet) {
		height: 25px;
		font-size: 16px;
	}

	@include respond-to(desktop) {
		height: 30px;
		font-size: 18px;
	}

	@include respond-to(wide) {
		height: 35px;
		font-size: 20px;
	}
}
