.pageControls {
	display: flex;
	flex-direction: row;
	font-family: $lato;
	// padding: 15px;
	width: 100%;
	background: $darkGray;
	color: $offWhite;
	justify-content: space-evenly;
	// position: fixed;
	// top: 50;
	margin-top: 205px;
}
