.genreTable {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 3rem;

	/* Grid Implementation test */
	// display: grid;
	// grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	/* ------------------- */

	@include respond-to(mobile) {
		padding-top: 235px;
	}

	@include respond-to(tablet) {
		padding-top: 235px;
	}

	@include respond-to(desktop) {
		padding-top: 175px;
	}

	@include respond-to(wide) {
		padding-top: 175px;
	}
}
