.genreTable {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;

	@include respond-to(mobile) {
		padding-top: 235px;
	}

	@include respond-to(tablet) {
		padding-top: 235px;
	}

	@include respond-to(desktop) {
		padding-top: 175px;
	}

	@include respond-to(wide) {
		padding-top: 175px;
	}
}
