.searchControls {
	position: fixed;
	top: 0;
	display: flex;
	width: 100%;
	z-index: 999;
	background: $darkGray;
	color: white;
	justify-content: space-between;
	padding: 0.2rem;

	// .chevron {
	// 	vertical-align: middle;
	// 	cursor: pointer;
	// 	&:hover {
	// 		color: $coolRed;
	// 	}
	// }

	@include respond-to(mobile) {
		// .chevron {
		// 	font-size: $smid;
		// 	display: flex;
		// 	flex-direction: row;
		// 	margin-top: 0;
		// }
		margin-top: 317px;
		font-size: $mb;
	}

	@include respond-to(tablet) {
		// .chevron {
		// 	font-size: $mid;
		// 	display: flex;
		// 	flex-direction: row;
		// 	margin-top: 0;
		// }
		margin-top: 278px;
		font-size: $mid;
	}

	@include respond-to(desktop) {
		// .chevron {
		// 	font-size: $mid;
		// 	display: flex;
		// 	flex-direction: row;
		// 	margin-top: 0;
		// }
		margin-top: 214px;
		font-size: $lg;
	}

	@include respond-to(wide) {
		// .chevron {
		// 	font-size: $mid;
		// 	display: flex;
		// 	flex-direction: row;
		// 	margin-top: 0;
		// }
		margin-top: 218px;
		font-size: $xl;
	}
}
