.listContainer {
	// margin-top: 60px;
	padding: $mid;

	.grow {
		-moz-osx-font-smoothing: grayscale;
		backface-visibility: hidden;
		z-index: 0;
		transform: translateZ();
		transition: transform 0.25s ease-out;
		// * Tweak this value to adjust poster size 150% is the default
		padding-bottom: 110%;
		// padding-bottom: 125%;
		&:hover,
		&:focus {
			transform: scale(1.05);
		}

		&:active {
			transform: scale(0.9);
		}
	}

	//! TODO Don't be afraid to reduce poster sizes on mobile to fit underneath search options
	@include respond-to(mobile) {
		// .grow {
		// 	padding: 25%;
		// }
		margin-top: 270px;
	}

	@include respond-to(mobileLandscape) {
		margin-top: 200px;
		.grow {
			padding-bottom: 40%;
		}
	}

	@include respond-to(tablet) {
		// margin-top: 500px;
		margin-top: 280px;
	}

	@include respond-to(desktop) {
		margin-top: 280px;

		.grow {
			padding-bottom: 90%;
		}
	}

	@include respond-to(wide) {
		margin-top: 300px;
	}
}
