//* refer to paginationData class
.pageControls {
	margin-top: 500px;
	background: $darkGray;
	color: white;

	.chevron {
		vertical-align: middle;
		cursor: pointer;
		&:hover {
			color: $coolRed;
		}
	}

	@include respond-to(mobile) {
		font-size: $mb;
	}

	@include respond-to(tablet) {
		font-size: $mid;
	}

	@include respond-to(desktop) {
		font-size: $lg;
	}

	@include respond-to(wide) {
		font-size: $xl;
	}
}
