@import url('https://fonts.googleapis.com/css?family=Expletus+Sans:400,500|Lalezar|Montserrat:400,500');

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
// fonts
$expletus: 'Expletus Sans', cursive;
$lalezar: 'Lalezar', cursive;
$montserrat: 'Montserrat', sans-serif;
$lato: 'Lato', sans-serif;

// font sizes
$xl: 3rem;
$lg: 2.25rem;
$mid: 1.5rem;
$smid: 1.25rem;
$sm: 1rem;
$mb: 0.875rem;
$formWidth: 350px;
